.racs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0.8rem, auto);
    grid-template-areas:
        "c h"
        "s s"
        "l l";
    gap: 0.8rem;
    margin: 1rem;
    font-size: 1.2rem;
}



#elem1 {
    grid-area: c;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #9DB2BF;
    border-radius: 1rem;   
}

#elem1 img{
     float: right;
     height:23rem;
    border-radius: 1rem;
}



#elem2 {
    grid-area: h;
    padding-right: 1rem;
    text-align: center;
    border-radius: 2rem;
    background-color: #9DB2BF;
}


#elem2 img{
    float: left;
    height: 23rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
}


#elem3 {
    grid-area: s;
    padding-right: 1rem;
    border-radius: 2rem;
    text-align: center;
    background-color: #9DB2BF;
    margin-top: 0.8rem;
}


#elem3 img{
    float: left;
    height: 24rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
}



#elem4{
    grid-area: l;
    text-align: center;
}

body{
    background-color: #DDE6ED;
}



table {
    height: 23rem;

  }
  
  th, td {
    text-align: center;
  }
  


@media screen and (max-width: 430px) {
    .racs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(0.8rem, auto);
        grid-template-areas:
            "c c"
            "h h"
            "s s"
            "l l";
        gap: 0.8rem;
        margin: 1rem;
        font-size: 1.2rem;
    }
    
    #elem1 {
        grid-area: c;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: #9DB2BF;
        border-radius: 1rem;   
    }
    
    #elem1 img{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    
    
    
    #elem2 {
        grid-area: h;
        text-align: center;
        border-radius: 2rem;
        background-color: #9DB2BF;
        
    }
    
    
    #elem2 img{
        width: 105%;
        border-radius: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    #elem3 {
        grid-area: s;
        border-radius: 2rem;
        text-align: center;
        background-color: #9DB2BF;
        margin-top: 0.8rem;
    }
    
    
    #elem3 img{
        width: 105%;
        border-radius: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    p{
        margin: 0.5rem;
    }

}